<!-- <p *ngIf="verificationFailed == false">Verification failed!</p>
 -->

 <section class="my-profile">
    <div class="container mt-4 mb-5 d-flex justify-content-center">
        <div class="row">
            <div class="col-md-12 ">
                <div class="card  shadow">
                    <div class="card-body">
                        <h5 style="text-align: center;">Please fill the form and Activate your account.</h5>
                        
                        <form [formGroup]="emailVerificationForm" (ngSubmit)="onSubmit()" class="p-2" novalidate>
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustom01">{{'signup.firstname'|translate}}<span
                                            class="text-danger ml-1">*</span></label>
                                    <input type="text" class="form-control" formControlName="firstName"
                                        id="validationCustom01" placeholder="{{'profile.firstname'|translate}}">
                                    <div *ngIf="submitted && f.firstName.errors?.required"
                                        class="invalid-feedback d-block">
                                        {{'signup.firstNameRequired'| translate}}
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustom02">{{'signup.lastname'|translate}}<span
                                            class="text-danger ml-1">*</span></label>
                                    <input type="text" class="form-control"
                                        placeholder="{{'profile.lastname'|translate}}" formControlName="lastName">
                                    <div *ngIf="submitted && f.lastName.errors?.required"
                                        class="invalid-feedback d-block">
                                        {{'signup.lastNameRequired'| translate}}
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustom04">{{'signup.phone'|translate}}</label>
                                    <input type="text" class="form-control" placeholder="{{'profile.phone'|translate}}"
                                        formControlName="phone">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustom04">{{'signup.password'|translate}}<span
                                            class="text-danger ml-1">*</span></label>
                                    <input type="password" class="form-control"
                                        placeholder="{{'signup.password' | translate}}" formControlName="password">
                                    <div *ngIf="submitted && f.password.errors?.required"
                                        class="invalid-feedback d-block">
                                        {{'signup.passwordRequired'| translate}}
                                    </div>
                                    <div *ngIf="f.password.errors?.minlength" class="invalid-feedback d-block">
                                        {{'signup.passwordMinLength' | translate}}
                                    </div>
                                    <div *ngIf="f.password.errors?.maxlength" class="invalid-feedback d-block">
                                        {{'signup.passwordMaxLength' | translate}}
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustom04">{{'signup.confirmpassword'|translate}}<span
                                            class="text-danger ml-1">*</span></label>
                                    <input type="password" class="form-control"
                                        placeholder="{{'signup.confirmpassword'|translate}}"
                                        formControlName="confirmPassword">
                                    <div *ngIf="submitted && f.confirmPassword.errors?.required"
                                        class="invalid-feedback d-block">
                                        {{'signup.confirmpasswordRequired'| translate}}
                                    </div>
                                    <div class="invalid-feedback  d-block" *ngIf="f.confirmPassword.errors?.mustMatch">
                                        {{'signup.PasswordsMustMatch' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">
                                    {{'profile.saveProfile'|translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>