
<div class="container mt-4 mb-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <form name="form" (ngSubmit)="addBookingForm.form.valid && addCourtsBooking()" #addBookingForm="ngForm">
            <div class="card-body">
              <h5 class="card-title mb-4">Adding New CourtBooking</h5>
              <!-- <form> -->
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Name</label>
                      <input type="text" class="form-control" name="Name"
                      placeholder="Enter your CourtBooking name" [(ngModel)]="addCourtsBookingData.name" #Name="ngModel"
                      [ngClass]="{ 'is-invalid': addBookingForm.submitted && Name.invalid}" minlength="2" required>
                    <div *ngIf="addBookingForm.submitted && Name.invalid" class="invalid-feedback">
                      <div *ngIf="Name.errors?.required">CourtBooking Name is required</div>
                      <div *ngIf="Name.errors?.minlength">CourtBooking Name must be at least 2 characters</div>
                    </div>
                      </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="DescriptionField" class="font-weight-bolder">CourtBooking Description</label>
                      <textarea class="form-control"  name="Description"
                      [(ngModel)]="addCourtsBookingData.description" #Description="ngModel" rows="3"
                        ></textarea>
                    </div>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label for="SportField" class="font-weight-bolder">Select Sport</label>
                    <select  [(ngModel)]="addCourtsBookingData.SportId"
                    name="SportId" class="form-control" #SportId="ngModel" required>
                     <option  [ngValue]="''" disabled>Select Sport...</option>
                      <option [ngValue]="sport.Id" *ngFor="let sport of sportsList">{{sport.name}}</option>
                   </select>
                   <div *ngIf="addBookingForm.submitted && SportId.invalid" class="invalid-feedback">
                    <div *ngIf="SportId.errors?.required">Sport name is required</div>
                  </div>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label for="CourtField" class="font-weight-bolder">Select Court For Booking</label>
                    <select  [(ngModel)]="addCourtsBookingData.CourtId"
                    name="CourtId" class="form-control" #CourtId="ngModel" required>
                     <option  [ngValue]="''" disabled>Select court for booking...</option>
                      <option [ngValue]="court.id" *ngFor="let court of courtsList">{{court.name}}</option>
                   </select>
                   <div *ngIf="addBookingForm.submitted && CourtId.invalid" class="invalid-feedback">
                    <div *ngIf="CourtId.errors?.required">Court name is required</div>
                  </div>
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Booking Start Time</label>
                      <input type="datetime-local" class="form-control" name="BookingStartTime"
                      [(ngModel)]="addCourtsBookingData.BookingStartTime" #BookingStartTime="ngModel"
                      [ngClass]="{ 'is-invalid': addBookingForm.submitted && BookingStartTime.invalid}" required>
                    <div *ngIf="addBookingForm.submitted && BookingStartTime.invalid" class="invalid-feedback">
                      <div *ngIf="BookingStartTime.errors?.required">Booking Start Time is required</div>
                    </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Booking End Time</label>
                      <input type="datetime-local" class="form-control" name="BookingEndTime"
                      [(ngModel)]="addCourtsBookingData.BookingEndTime" #BookingEndTime="ngModel"
                      [ngClass]="{ 'is-invalid': addBookingForm.submitted && BookingEndTime.invalid}" required>
                    <div *ngIf="addBookingForm.submitted && BookingEndTime.invalid" class="invalid-feedback">
                      <div *ngIf="BookingEndTime.errors?.required">Booking End Time is required</div>
                    </div>
                    </div>
                  </div>
              </div>
                <div class="container">
                <button *ngIf="!isUpdated" type="submit" class="btn btn-primary float-right mr-2">Add CourtBooking</button>
                <button *ngIf="courtsBookingId && courtsBookingId > 0" type="submit" class="btn btn-primary float-right mr-2">Update CourtBooking</button>
                </div>
            <!-- <div class="card-footer"> <a (click)="addSports()" class="btn btn-primary float-right mr-2">Add CourtBooking</a>
               -->
           </div>
           </div>
          </form>
        </div>
      </div>
    </div>
  </div>
