
<style>
    .is-invalid{
        border-color: #dc3545;
    }
</style>
<section class="login pt-5">
    <div class=" container mb-3">
      <h1 class="text-center text-white">Login to Hospital Bin's</h1>
      <p class="text-center  text-white">Why not try for free before buying</p>
      <!-- <h1>{{ 'demo.title' | translate }}</h1> -->
    </div>
    <div class="container d-flex justify-content-center">
      <div class="signup-container ">
        <div class="card  shadow">
          <div class="card-body">
            <form autocomplete="off" (ngSubmit)="signInForm.form.valid && login()" #signInForm="ngForm">
              <div class="form-group">
                <label for="InputEmail">{{ 'label.email' | translate }}</label>
                <input autocomplete="off" type="email" class="form-control" name="email" id="email" aria-describedby="InputEmailHelp" [placeholder]="'Email'" [(ngModel)]="signInModel.email" 
                #email="ngModel" [ngClass]="{ 'is-invalid': signInForm.submitted && email.invalid}"  
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
                <div *ngIf="signInForm.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors?.required">Email is required</div>
                        <div *ngIf="email.errors?.pattern">This is not a valid Email!!!</div>
                </div>
              </div>

              <div class="form-group">
                <label for="InputPassword">{{ 'label.password' | translate }}</label>
                <input autocomplete="off" type="password" class="form-control" name="password" id="password" aria-describedby="InputPasswordHelp" [placeholder]="'Password'" [(ngModel)]="signInModel.password" 
                #password="ngModel" [ngClass]="{ 'is-invalid': signInForm.submitted && password.invalid}" minlength="8"  required />
                <div *ngIf="signInForm.submitted && password.invalid" class="invalid-feedback">
                        <div *ngIf="password.errors?.required">Password is required</div>
                        <div *ngIf="password.errors?.minlength">Minimum length for password is 8 charachter</div>
                </div>
              </div>
              <div class="text-center mt-4"> 
                  <button class="btn btn-primary w-100" >Sign in</button>
            
                <div class="text-muted mt-2"> <a href="#" class="text-primary " data-toggle="modal" data-target="#exampleModal">Forgot your password? </a> </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form autocomplete="off" (ngSubmit)="ResetPasswordForm.form.valid && RecoverAccount()" #ResetPasswordForm="ngForm">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
                <button type="button" class="close" data-dismiss="modal" id="closeDialog"  aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="InputEmail">Enter your Email</label>
                  <input autocomplete="off" type="email" class="form-control" name="forgetEmail" id="forgetEmail" aria-describedby="InputEmailHelp" [placeholder]="'Email'" [(ngModel)]="ForgetPasswordModel.forgetEmail" 
                  #forgetEmail="ngModel" [ngClass]="{ 'is-invalid': ResetPasswordForm.submitted && forgetEmail.invalid}"  
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
                  <div *ngIf="ResetPasswordForm.submitted && forgetEmail.invalid" class="invalid-feedback">
                          <div *ngIf="forgetEmail.errors?.required">Email is required</div>
                          <div *ngIf="forgetEmail.errors?.pattern">This is not a valid Email!!!</div>
                  </div>
                </div>
              </div>
              <div class="modal-footer"> 
                <button class="btn btn-primary" >Recover Account</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </section>