<nav class="navbar navbar-top navbar-expand-xl navbar-dark bg-secondary"><a class="navbar-brand pt-0 pb-0 mr-4"
    href="index.html"><img src="assets/img/speekio-logo.svg" width="130"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span
      class="navbar-toggler-icon"></span> </button>
  <div *ngIf="isLoggedIn$ | async" class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item "> <a class="nav-link " routerLink="/admin/home" routerLinkActive="active">Dashboard <span
            class="sr-only">(current)</span></a> </li>
            <li class="nav-item "> <a class="nav-link" routerLink="/admin/sports-list">Sports Manager</a> </li>
            <li class="nav-item "> <a class="nav-link" routerLink="/admin/courts-list">Courts Manager</a> </li>
            <li class="nav-item "> <a class="nav-link" routerLink="/admin/courtduration-list">Duration Manager</a> </li>

            <li class="nav-item "> <a class="nav-link" routerLink="/admin/courtbooking-list">Booking Manager</a> </li>

            <li class="nav-item "> <a class="nav-link" routerLink="/admin/company-list">Company Manager</a> </li>
            <li class="nav-item "> <a class="nav-link" routerLink="/admin/users-list">Users Manager</a> </li>
    </ul>
    <form class=" my-2 my-lg-0">
      <ul class="navbar-nav">
        <li>
          <!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> EN </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" href="#">DK</a>
            </div>
          </div> -->
        </li>
        <li class="nav-item"> <a class="nav-link" href="#"><img src="assets/img/img_avatar.png" alt="Avatar"
              class="avatar mr-2"><strong>{{completeName}}</strong></a> </li>
              <li class="nav-item"> <a class="nav-link" style="cursor: pointer;" (click)="userLogOff()"><strong>LOG-OFF</strong></a> </li>
      </ul>
    </form>
  </div>
</nav>
