
<nav class="navbar navbar-top navbar-expand-xl navbar-dark bg-secondary">
  <div class="left-content"><a href="javascript:void(0);"><img src="assets/img/drawer-menu.svg"
        class="icon icon-sidebar mr-3" width="25" class="mr-3" id="sidebarCollapse"> </a><a
      class="navbar-brand pt-0 pb-0 mr-4" href="javascript"><img src="assets/img/speekio-logo.svg" width="130"></a>
  </div>

  <div *ngIf="isLoggedIn$ | async" class="right-content">

    <div class="dropdown ">
      <button class="btn btn-sm"  aria-haspopup="true" id="dropdownMenuButton" data-toggle="dropdown"
        aria-expanded="false">
        <a class="" href="#"  ><img src="assets/img/img_avatar.png" alt="Avatar" class="avatar"></a>
      </button>
      <div *ngIf="isLoggedIn$ | async" class="dropdown-menu dropdown-menu-right pt-0"
        aria-labelledby="dropdownMenuButton">
        <li class="dropdown-item " href="#">
          <div class="media "> <img class="avatar-l align-self-start mr-2" src="assets/img/img_avatar.png" alt="avatar-xl">
            <div class="media-body">
              <h6 class="top-profile pt-2 mb-0">Super Admin</h6>
              <small>Hiring manager</small>
            </div>
          </div>
        </li>
        <li class="dropdown-item "> <a style="cursor: pointer;" (click)="openChangePasswordModal()">Change Password</a> </li>
        <li class="dropdown-item "> <a style="cursor: pointer;" (click)="userLogOff()">Log Off</a> </li>
      </div>
    </div>
 
  </div>


</nav>

