<section>

    <div class="scroll-wrapper">
        <div class="container-fluid mt-4 mb-5">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h5> All solts of duration</h5>
                </div>
                <div class="card-body" >
                  <div class="d-flex flex-wrap" *ngIf="durationSlotsList && durationSlotsList.length > 0">
                    <div class="card card-w-swim mb-3 mr-3"   *ngFor="let slot of durationSlotsList; let i=index"> 
                        <a href="javascript:void(0);" [routerLink]="'/admin/jobs/examin-candidate-score/'+ slot.id">
                        <div class="card-body">
                          <div class="media"> 
                            <img [src]="'assets/img/img_avatar.png'" class="img-40 mr-3 rounded-circle img-avatar" alt="...">
                            <div class="media-body">
                              <div class="d-flex mb-n1">
                                <h6 class="mt-0 mb-2 text-dark w-100" *ngIf="slot.isBooked">Slot is Booked</h6>
                                <h6 class="mt-0 mb-2 text-dark w-100" *ngIf="!slot.isBooked">Slot is avilable</h6>
                              </div>
                              <small class="w-100" ><span class="text-muted">{{slot.bookingStartTime}}</span></small><br>
                              <small class="w-100" ><span class="text-muted">{{slot.bookingEndTime}}</span></small><br>
                              <small class="w-100" ><span class="text-muted">Duration: 60 minutes</span></small><br>
                              
                              
                            </div>
                          </div>
                        </div>
                      </a> 
                    </div>
                  </div>
                  <div class="container"  *ngIf="durationSlotsList && durationSlotsList.length == 0">
                    <h4 class="text-center mt-3 text-muted mb-0">No slots data available yet</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>