<div class="container mt-4">
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend"> <span class="input-group-text" id="basic-addon1"><i class="material-icons ">search</i></span> </div>
          <input type="text" class="form-control form-resizer" placeholder="Search" aria-label="search" aria-describedby="basic-addon1">
          <div class="dropdown">
            <button class="btn btn-secondary  org-radius ml-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="material-icons mr-1">filter_list</i>Filter </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" href="#">New to old</a> <a class="dropdown-item" href="#">Old to new</a> <a class="dropdown-item" href="#">Most used</a> </div>
          </div>
          <label for="SportField" class="font-weight-bolder">Select Company</label>
          <select  (change)="setCompanyId($event)" name="CopmanyId" class="form-control">
           <option  [value]="''" disabled>Select Company...</option>
            <option [value]="company.id" *ngFor="let company of bookingCompanies">{{company.companyName}}</option>
         </select>
          <span>Booking Date</span>
          <input type="date" class="float-left" [(ngModel)]="bookingDate" placeholder="Search" aria-label="search" aria-describedby="basic-addon1">

          <input type="button" (click)="applyFilter()" class="btn btn-primary float-right mr-2" value="Apply Filter" aria-describedby="basic-addon1">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mt-4">
        <h2 class="mb-3 font-weight-bolder">Boolking List</h2>
        <div class="card card-margin" *ngFor="let booking of courtsBookingList.CourtBooking" > 
            <a href="javascript:void(0);" (click)="openBookingDialog()" class="card-body" 
            data-keyboard="false" data-backdrop="static" style="text-decoration: none; color: inherit; text-transform: inherit;">
            <h5 class="card-title">{{booking.name}} <span class="badge badge-success float-right">Booked Now</span></h5>
            <p></p>
            <h6 class="card-subtitle mb-2 text-muted">Start Time: {{booking.bookingStartTime | DefaultDateTimeFormat}} </h6>
              <p></p>
            <h6 class="card-subtitle mb-2 text-muted">End Time: {{booking.bookingEndTime | DefaultDateTimeFormat }} </h6>

            
            <p class="card-text wrap-scroll"> {{booking.description}}</p>
            
            <p class="card-text wrap-scroll"> <strong>Court Date : </strong>{{booking.bookingStartTime | DefaultDateFormat}}</p>
            
          </a>
          <div class="card-footer text-muted ">
            <span class="align-text-top"> <strong>{{booking.courtName}}</strong> Court Name </span>
          </div>
        </div>
        <br>

      </div>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade " id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <form name="form" (ngSubmit)="f.form.valid && saveUserBooking(f)" #f="ngForm" class="form-inline">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Booked Facility</h5>
                    <button type="button" #btnCloseUserPopup class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="input-group ">
                            <input type="text" class="form-control mb-2 mr-sm-2 w-50" id="inlineFormInputEmail"
                                placeholder="Enter user email" [(ngModel)]="userBookingModel.email"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email"
                                #email="ngModel" required>
                            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback d-block">
                                Please enter valid email address.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="input-group ">
                        <input type="text" class="form-control mb-2 mr-sm-2 w-50" id="inlineFormInputName"
                            placeholder="Enter user name" [(ngModel)]="userBookingModel.name" name="name"
                            #name="ngModel" required>
                        <div *ngIf="f.submitted && name.invalid" class="invalid-feedback d-block">
                            Please enter person name.
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="input-group ">
                        <input type="text" class="form-control mb-2 mr-sm-2 w-50" id="inlineFormInputPhone"
                            placeholder="Enter user phone" [(ngModel)]="userBookingModel.phone" name="phone"
                            #phone="ngModel" required>
                        <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback d-block">
                            Please enter person name.
                        </div>
                      </div>
                    </div>
  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </div>
        </form>
    </div>
  </div>
