
  <section>
    <div class="card table-card ">
        <div class="card-header ">
            <h5> Facilities List
                <a href="/admin/facilities/facilities-create" class="float-right">
                    <button type="button" class="btn btn-primary"> <i
                            class="fas fa-plus-circle"></i> Add new</button>
                </a>
            </h5>
        </div>

        <div class="card-body ">
                <table class="table table-hover">
                    <thead class="thead ">
                        <tr class='clickable-row' data-href='url://'>
                          <th scope="col">
                            <span (click)="sort('Name')">
                              <i class="fa fas fa-caret-up"
                                  [ngClass]="{'fas fa-caret-down':sorting=='Name' && sortDirection,'fas fa-caret-up':sorting=='Name' && !sortDirection }"></i>
                                  Facility Name
                          </span>
                          <text-column-filter model="{{filter.Name.value}}" placeHolder="Name" id="Name"
                              (onApply)="searchInList('Name',$event[0])" (onClear)="clearSearch('Name')">
                          </text-column-filter>

                          </th>
                          <th scope="col">Description</th>
                          <th scope="col">Category</th>
                          <th scope="col">Last Updated</th>
                          <th scope="col">Created By</th>
                          
                          <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>

            <tr *ngFor="let court of courtsList.courts | paginate : paggerConfig; let i=index">
                <td>
                  <a [routerLink]="'/admin/facilities/facilities-create/'+ court.id">
                    {{court.name}}
                </a>
                </td>

              <td> {{court.description}} </td>
              <td>{{court.sportsName}}</td>
              <td>{{court.lastUpdated | DefaultDateFormat}}</td>
              <td>{{court.createdBy}}</td>
              
              <td>
                <ul class="nav justify-content-start">
                  <li class="nav-item mr-2"> <a [routerLink]="'/admin/facilities/facilities-create/'+ court.id" title="Edit Facility" data-placement="top"> <i class="fas fa-edit"></i> </a> </li>
                  <li class="nav-item mr-2"> <a href="#" data-toggle="tooltip" title="Delete"
                    data-toggle="modal" data-target="#deleteCategoryModal" data-keyboard="false"
                    data-backdrop="static" 
                    data-placement="top"> <i class="fas fa-trash-alt"></i> </a> </li>
                </ul>
              </td>

                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="card-footer table-card-footer">
          <nav class="nav-pagination">
              <div class="table-entries ">
                <p>
                  <select class="form-control" aria-label="page-size" [(ngModel)]="pageSize" name="pageSize"
                    (ngModelChange)="changePageSize($event)">
                    <option *ngFor="let item of pageSizeList" [ngValue]="item">{{item}}</option>
                  </select>
                </p>
              </div>
              <div class="table-pagination ">
                <p>
                  <pagination-controls (pageChange)="pageChange($event)" class="my-pagination">
                  </pagination-controls>
                </p>
              </div>
          </nav>
      </div>
    </div>
</section>
