<section class="candidate-manager">
    <div class="container mt-4">
      <h2 class="mb-3 font-weight-bolder">Booking List</h2>
      <hr>
      <div class="row">
        <div class="col-md-12 col-lg-6 ">
            <div class="float-left"> <a routerLink="/admin/courtbooking-create">
                <button class="btn btn-primary">+ Add new Booking</button>
            </a>
        </div>
        </div>
        <div class="col-md-12 col-lg-6 ">
          <div class="input-group mb-3 ">
            <div class="input-group-prepend "> <span class="input-group-text" id="basic-addon1"><i
                  class="material-icons ">search</i></span> </div>
            <input type="text" class="form-control form-resizer" placeholder="Search" aria-label="search"
              aria-describedby="basic-addon1">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="table-responsive">
        <table class="table reviewer-table table-hover">
          <thead class="bg-secondary text-white">
            <tr>
              <th scope="col"></th>
              <th scope="col">Booking Name</th>
              <th scope="col">Description</th>
              <th scope="col">Court name</th>
              <th scope="col">User Name</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Is Booked</th>
              <th scope="col">Is Emailed</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let booking of courtsBookingList.CourtBooking">
              <th scope="row"><input class="form-check-input ml-0" type="checkbox" value="" id="defaultCheck1"></th>

              <td>{{booking.name}}</td>
              <td> {{booking.description}} </td>
              <td>{{booking.courtName}}</td>
              <td>{{booking.userName}}</td>
              <td> {{booking.bookingStartTime}} </td>
              <td>{{booking.bookingEndTime}}</td>
              <td> {{booking.isBooked}} </td>
              <td>{{booking.isEmailed}}</td>
              <td class="text-center d-flex">
                <span class=" " data-toggle="tooltip" data-placement="top"
                  data-original-title="Delete">
                  <a href="#">
                    <i class="material-icons circle-icon">delete_forever</i>
                  </a>
                </span>
                <span class=" "
                  data-toggle="tooltip" data-placement="top" data-original-title="View">
                  <a href="#" data-toggle="modal"
                    data-target=".bd-example-modal-xl" data-keyboard="false" data-backdrop="static">
                    <i class="material-icons circle-icon">open_in_browser</i>
                  </a></span>
                </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </section>
