<div ngbDropdown (openChange)="toggled($event)" display='dynamic' aria-haspopup="true" aria-expanded="false"
    display="dynamic" [placement]="placement">
    <a ngbDropdownToggle role="button" id="{{id}}" aria-haspopup="true" aria-expanded="false">
        <span class="icon small" [ngClass]="{'active':!!internalModel.Time}">
            <svg>
                <use xlink:href="assets/img/cubivue-icons.svg#filter"></use>
            </svg>
        </span>
    </a>
    <ul ngbDropdownMenu class="filter dropdown-menu">
        <li ngbDropdownItem>
            <label>Time:</label>
            <div class="form-group mb-1">
                <select class="form-control" aria-label="compare-type" [(ngModel)]="internalModel.CompareType"
                    name="compare-type">
                    <option *ngFor="let item of compareList" [ngValue]="item.id">{{item.status}}</option>
                </select>
            </div>
            <div class="form-group mb-0 ml-4">
                <ngb-timepicker [(ngModel)]="internalModel.Time" #filterTime="ngModel" [minuteStep]="15"
                    [meridian]="false" name="filterTime" required (keyup.enter)="onInternalApply()">
                </ngb-timepicker>
            </div>
        </li>
        <li ngbDropdownItem>
            <div class='button-group'>
                <button id="btnClear" class="btn btn-link btn-sm btn-wide" [disabled]="!internalModel.Time"
                    (click)="onInternalClear()">
                    Clear
                </button>
                <button id="btnApply" class="btn btn-primary btn-sm btn-wide" [disabled]="!internalModel.Time"
                    (click)="onInternalApply()">
                     Apply 
                </button>
            </div>
        </li>
    </ul>
</div>