    <!-- footer.html -->
    <footer>
      <div class="container-fluid mt-5">
        <div class="row flex-nowrap">
          <div class="col-md-5 pl-0 pr-0  mt-2">
            <hr class="line">
          </div>
          <div class="col-md-2">
            <div class="d-flex justify-content-center">
              <div class="btn-group" role="group"> <a href="#" class="btn btn-link"><img src="assets/img/facebook.svg" width="40"></a> <a href="#" class="btn btn-link"><img src="assets/img/linkedin.svg" width="40"></a> </div>
            </div>
          </div>
          <div class="col-md-5 pl-0 pr-0 mt-2">
            <hr class="line">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <ul class="nav justify-content-start mid-place mt-4">
              <li class="nav-item"> <a class="nav-link ">Copyright © 2019 Speek.IO. All rights reserved.</a> </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="nav justify-content-end mid-place mt-4">
              <li class="nav-item"> <a class="nav-link" href="terms.html">Terms and Conditions</a> </li>
              <li class="nav-item"> <a class="nav-link" href="privacy.html">Privacy Policy</a> </li>             
            </ul>
            <!-- <div>
                <h2>{{ 'HOME.TITLE' | translate }}</h2>
                <label>
                  {{ 'HOME.SELECT' | translate }}
                  <select #langSelect (change)="translate.use(langSelect.value)">
                    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
                  </select>
                </label>
              </div> -->
          </div>
        </div>
      </div>
    </footer>
    <a href="#toper" class="cd-top" id="onTop">Top</a>
    <!-- end footer.html -->