<div class=" container mt-5 mb-3">
        <h1 class="text-center"><span class="text-primary">Reset Password </span></h1>
        <p class="text-center">Why not try for free before buying</p>
      </div>
      <div class="container d-flex justify-content-center">
        <div class="signup-container ">
          <div class="card  shadow">
            <div class="card-body">
              <form autocomplete="off" (ngSubmit)="resetPasswordForm.form.valid && resetPassword()" #resetPasswordForm="ngForm" [mustMatch]="['password', 'confirmPassword']">
                    <div class="form-group">
                            <label for="InputPassword">New Password</label>
                            <input type="password" class="form-control" name="password" aria-describedby="InputPasswordHelp" placeholder="Enter your password" [(ngModel)]="resetPasswordModel.password"
                            #password="ngModel" [ngClass]="{ 'is-invalid': resetPasswordForm.submitted && password.invalid}" minlength="8"  required>
                            <div *ngIf="resetPasswordForm.submitted && password.invalid" class="invalid-feedback">
                                <div *ngIf="password.errors?.required">New Password is required</div>
                                <div *ngIf="password.errors?.minlength">New Password must be at least 8 characters</div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="InputPassword1">Confirm New Password</label>
                            <input type="password" class="form-control" name="confirmPassword" aria-describedby="InputPasswordHelp1" placeholder="Re-Enter your password" [(ngModel)]="resetPasswordModel.confirmPassword"
                            #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': resetPasswordForm.submitted && confirmPassword.invalid}" minlength="8"  required>
                            <div *ngIf="resetPasswordForm.submitted && confirmPassword.invalid" class="invalid-feedback">
                                <div *ngIf="confirmPassword.errors?.required">Confirm New Password is required</div>
                                <div *ngIf="confirmPassword.errors?.minlength">Minimum length for Confirm New Password is 8 charachter long</div>
                                <div *ngIf="confirmPassword.errors.mustMatch">Password must match with New Password</div>
                            </div>
                          </div>
                <div class="text-center mt-4"> 
                    <button class="btn btn-primary w-100" >Update Password</button>

                </div>
              </form>
            </div>
          </div>
        </div>
      </div>