<section>
  <div class="container-fluid mb-5">
    <div class="row">
      <div class="col-xl-9 ">
        <div class="row">
          <div class="col-lg-6  mb-4">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <h5>All Bookings</h5>
                <div class="form-group ">
                  <select class="custom-select">
                    <option value="0">Select job to view stats</option>
                    <option value="1">Project Management</option>
                    <option value="2">Driving</option>
                    <option value="3">Cooking</option>
                  </select>
                </div>
              </div>
              <div class="card-body">
                <div id="chart">
                  <div id="timeline-chart"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mb-4">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <h5>Jobs to examine</h5>
                <div class="form-group w-50">
                  <select class="custom-select">
                    <option value="0">Select job to view stats</option>
                    <option value="1">Project Management</option>
                    <option value="2">Driving</option>
                    <option value="3">Cooking</option>
                  </select>
                </div>
              </div>
              <div class="card-body">
                <div id="chart3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 ">
        <div class=" mb-4">
          <div class="card">
            <div class="card-header">
              <h5>Active Court Durations </h5>
            </div>
            <div class="wrapper-active-jobs">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"> Project Management Job <div class="custom-control custom-switch pt-2 mr-3">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"> Driving Job <div class="custom-control custom-switch pt-2 mr-3">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"> Marketing Manager <div class="custom-control custom-switch pt-2 mr-3">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"> Project Management Job <div class="custom-control custom-switch pt-2 mr-3">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"> Driving Job <div class="custom-control custom-switch pt-2 mr-3">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"> Marketing Manager <div class="custom-control custom-switch pt-2 mr-3">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"> Project Management Job <div class="custom-control custom-switch pt-2 mr-3">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"> Driving Job <div class="custom-control custom-switch pt-2 mr-3">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center"> Marketing Manager <div class="custom-control custom-switch pt-2 mr-3">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="card-footer text-muted"> <a href="job-manager.html"> view all</a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>