
      <app-nav></app-nav>
     
    <main>
      <nav  class="sidebar">
        <ul>
          
          <li routerLinkActive="active"> <a routerLink="/admin/home"> <span class="icon"> <svg>
                  <use xlink:href="assets/img/project-icons.svg#dashboard"></use>
                </svg> </span> dashboard </a> 
          </li>
          <li routerLinkActive="active"> <a routerLink="/admin/nvdr"> <span class="icon"> <svg>
            <use xlink:href="assets/img/project-icons.svg#job-manager"></use>
          </svg> </span> Nvdr Records </a> 
          </li>
          <li routerLinkActive="active"> <a routerLink="/admin/emails"> <span class="icon"> <svg>
            <use xlink:href="assets/img/project-icons.svg#library"></use>
          </svg> </span> Nvdr Emails </a> 
    </li>
    <li routerLinkActive="active"> <a routerLink="/admin/faultemails"> <span class="icon"> <svg>
      <use xlink:href="assets/img/project-icons.svg#manual-icon"></use>
    </svg> </span> Nvdr Fault Emails </a> 
</li>
          
        </ul>
      </nav>
    
      <!-- need to apply style on condition based. -->
      <content>
        <section>
          <router-outlet></router-outlet>
        </section>
      </content>
    
    
    </main>
  