<section class="category-creation">
  <form name="form" (ngSubmit)="addDurationForm.form.valid && addCourtsDuration()" #addDurationForm="ngForm">
    <div class="container mt-4 mb-5">
      <div class="row">
        <div class="col-lg-12">
          <div class="card mb-4 name-title-card">
            <div class="card-header">
              <div class="form-check-inline">
                <h5 class="card-title mb-0 pt-2">Add Facility Duration</h5>
              </div>
              <div class="float-right">
                <div class="form-row">
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="NameField" class="font-weight-bolder">Name</label>
                <input type="text" class="form-control" name="Name" placeholder="Enter your Duration Name"
                  [(ngModel)]="addCourtsDuratoinData.name" #Name="ngModel"
                  [ngClass]="{ 'is-invalid': addDurationForm.submitted && Name.invalid}" minlength="2" required>
                <div *ngIf="addDurationForm.submitted && Name.invalid" class="invalid-feedback">
                  <div *ngIf="Name.errors?.required">Name is required</div>
                  <div *ngIf="Name.errors?.minlength">Name must be at least 2 characters</div>
                </div>
              </div>
              <div class="form-group">
                <label for="DescriptionField" class="font-weight-bolder">Duration Description</label>
                <textarea class="form-control" name="Description" [(ngModel)]="addCourtsDuratoinData.description"
                  #Description="ngModel" rows="3">
                </textarea>
              </div>

              <div class="row">
                <div class="col-lg-4 mb-3">
                  <label for="SportField" class="font-weight-bolder">Select Category</label>
                  <select [(ngModel)]="sportsId" name="SportId" class="form-control" #SportId="ngModel"
                    (change)="getCourts(sportsId)" required>
                    <option [ngValue]="''" disabled>Select Category...</option>
                    <option [ngValue]="sport.id" *ngFor="let sport of sportsList">{{sport.name}}</option>
                  </select>
                  <div *ngIf="addDurationForm.submitted && SportId.invalid" class="invalid-feedback" required>
                  </div>
                </div>
                <div class="col-lg-4 mb-3">
                  <label for="CourtField" class="font-weight-bolder">Select Facility</label>
                  <select [(ngModel)]="courtId" *ngIf="courtsList && courtsList.length > 0"  name="CourtId" 
                    class="form-control" #CourtId="ngModel"
                    (change)="selectCourt(courtId)" required>
                    <option [ngValue]="''" disabled>Select facility...</option>
                    <option [ngValue]="court.id" *ngFor="let court of courtsList">{{court.name}}</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="NameField" class="font-weight-bolder">Facility Start Date</label>
                    <input type="date" class="form-control" name="CourtStartDate"
                      [(ngModel)]="addCourtsDuratoinData.CourtStartDate" #CourtStartDate="ngModel"
                      [ngClass]="{ 'is-invalid': addDurationForm.submitted && CourtStartDate.invalid}" required>
                    <div *ngIf="addDurationForm.submitted && CourtStartDate.invalid" class="invalid-feedback">
                      <div *ngIf="CourtStartDate.errors?.required">Start Date is required</div>
                    </div>
                  </div>
                </div>  
              </div>


              <div class="row">

                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="NameField" class="font-weight-bolder">Facility End Date</label>
                    <input type="date" class="form-control" name="CourtEndDate"
                      [(ngModel)]="addCourtsDuratoinData.CourtEndDate" #CourtEndDate="ngModel"
                      [ngClass]="{ 'is-invalid': addDurationForm.submitted && CourtEndDate.invalid}" required>
                    <div *ngIf="addDurationForm.submitted && CourtEndDate.invalid" class="invalid-feedback">
                      <div *ngIf="CourtEndDate.errors?.required">End Date is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="NameField" class="font-weight-bolder">Facility Start Time</label>
                    <input type="datetime-local" class="form-control" name="CourtStartTime"
                      [(ngModel)]="addCourtsDuratoinData.courtStartTime" #CourtStartTime="ngModel"
                      [ngClass]="{ 'is-invalid': addDurationForm.submitted && CourtStartTime.invalid}" required>
                    <div *ngIf="addDurationForm.submitted && CourtStartTime.invalid" class="invalid-feedback">
                      <div *ngIf="CourtStartTime.errors?.required">Start Time is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="NameField" class="font-weight-bolder">Facility Start Time</label>
                    <input type="time" class="form-control" name="CourtStartTime"
                      [(ngModel)]="addCourtsDuratoinData.courtStartTime" #CourtStartTime="ngModel"
                      [ngClass]="{ 'is-invalid': addDurationForm.submitted && CourtStartTime.invalid}" required>
                    <div *ngIf="addDurationForm.submitted && CourtStartTime.invalid" class="invalid-feedback">
                      <div *ngIf="CourtStartTime.errors?.required">Start Time is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="NameField" class="font-weight-bolder">Facility End Time</label>
                    <input type="time" class="form-control" name="courtEndTime"
                      [(ngModel)]="addCourtsDuratoinData.courtEndTime" #courtEndTime="ngModel"
                      [ngClass]="{ 'is-invalid': addDurationForm.submitted && courtEndTime.invalid}" required>

                    <div *ngIf="addDurationForm.submitted && courtEndTime.invalid" class="invalid-feedback">
                      <div *ngIf="courtEndTime.errors?.required">End Time is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="SlotField" class="font-weight-bolder">Facility Slot Duration</label>
                    <input type="number" class="form-control" name="slotDuration" placeholder="Enter slot Duration"
                      [(ngModel)]="addCourtsDuratoinData.slotDuration" #slotDuration="ngModel"
                      [ngClass]="{ 'is-invalid': addDurationForm.submitted && slotDuration.invalid}">
                    <div *ngIf="addDurationForm.submitted && slotDuration.invalid" class="invalid-feedback">
                      <div *ngIf="slotDuration.errors?.required">Slot Duration is required</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="SlotField" class="font-weight-bolder">Facility Slot Amount</label>
                    <input type="number" class="form-control" name="slotAmount" placeholder="Enter slot Amount"
                      [(ngModel)]="addCourtsDuratoinData.slotAmount" #slotAmount="ngModel"
                      [ngClass]="{ 'is-invalid': addDurationForm.submitted && slotAmount.invalid}">
                    <div *ngIf="addDurationForm.submitted && slotAmount.invalid" class="invalid-feedback">
                      <div *ngIf="slotAmount.errors?.required">Slot Duration is required</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-dark ml-5"> <a href="/admin/duration/duration-list"
        class="btn btn-danger">Cancel</a>
      <div class="form-inline my-2 my-lg-0">
        <button *ngIf="!isUpdated" type="submit" class="btn btn-primary float-right mr-2">Add Duration</button>
        <button *ngIf="courtsDurationId && courtsDurationId > 0" type="submit" class="btn btn-primary float-right mr-2">Update CourtDuration</button>
      </div>
    </nav>
  </form>
</section>


