
<div class="container mt-4 mb-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <form name="form" (ngSubmit)="addDurationForm.form.valid && addCourtsDuration()" #addDurationForm="ngForm">
            <div class="card-body">
              <h5 class="card-title mb-4">Set Court Duration</h5>
              <!-- <form> -->
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Name</label>
                      <input type="text" class="form-control" name="Name"
                      placeholder="Enter your Duration Name" [(ngModel)]="addCourtsDuratoinData.name" #Name="ngModel"
                      [ngClass]="{ 'is-invalid': addDurationForm.submitted && Name.invalid}" minlength="2" required>
                    <div *ngIf="addDurationForm.submitted && Name.invalid" class="invalid-feedback">
                      <div *ngIf="Name.errors?.required">Name is required</div>
                      <div *ngIf="Name.errors?.minlength">Name must be at least 2 characters</div>
                    </div>
                      </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="DescriptionField" class="font-weight-bolder">Duration Description</label>
                      <textarea class="form-control"  name="Description"
                      [(ngModel)]="addCourtsDuratoinData.description" #Description="ngModel" rows="3"
                        ></textarea>
                    </div>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label for="SportField" class="font-weight-bolder">Select Sport</label>
                    <select  [(ngModel)]="sportsId"
                    name="SportId" class="form-control" #SportId="ngModel" (change)="selectSport()" required>
                     <option  [ngValue]="''" disabled>Select Sport...</option>
                      <option [ngValue]="sport.id" *ngFor="let sport of sportsList">{{sport.name}}</option>
                   </select>
                   <div *ngIf="addDurationForm.submitted && SportId.invalid" class="invalid-feedback" required>
                  <!--  <div *ngIf="SportId.errors?.required">Sport name is required</div> -->
                  </div>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label for="CourtField" class="font-weight-bolder">Select Court</label>
                    <select  [(ngModel)]="addCourtsDuratoinData.courtId"
                    name="courtId" class="form-control" #courtId="ngModel" required>
                     <option  [ngValue]="''" disabled>Select court...</option>
                      <option [ngValue]="court.id" *ngFor="let court of courtsList">{{court.name}}</option>
                   </select>
                   <div *ngIf="addDurationForm.submitted && courtId.invalid" class="invalid-feedback">
                    <div *ngIf="courtId.errors?.required">Court name is required</div>
                  </div>
                  </div>
                  </div>
                    <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Court Start Time</label>
                      <input type="time" class="form-control" name="CourtStartTime"
                      [(ngModel)]="addCourtsDuratoinData.CourtStartTime" #CourtStartTime="ngModel"
                      [ngClass]="{ 'is-invalid': addDurationForm.submitted && CourtStartTime.invalid}" required>
                    <div *ngIf="addDurationForm.submitted && CourtStartTime.invalid" class="invalid-feedback">
                      <div *ngIf="CourtStartTime.errors?.required">Start Time is required</div>
                    </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Court End Time</label>
                      <input type="time" class="form-control" name="CourtEndTime"
                      [(ngModel)]="addCourtsDuratoinData.CourtEndTime" #CourtEndTime="ngModel"
                      [ngClass]="{ 'is-invalid': addDurationForm.submitted && CourtEndTime.invalid}" required>

                    <div *ngIf="addDurationForm.submitted && courtEndTime.invalid" class="invalid-feedback">
                      <div *ngIf="courtEndTime.errors?.required">End Time is required</div>
                    </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Court Date</label>
                      <input type="date" class="form-control" name="CourtDate"
                      [(ngModel)]="addCourtsDuratoinData.CourtDate" #CourtDate="ngModel"
                      [ngClass]="{ 'is-invalid': addDurationForm.submitted && CourtDate.invalid}" required>
                    <div *ngIf="addDurationForm.submitted && CourtDate.invalid" class="invalid-feedback">
                      <div *ngIf="CourtDate.errors?.required">Duration Date is required</div>
                    </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="SlotField" class="font-weight-bolder">Slot Duration</label>
                      <input type="text" class="form-control" name="slotDuration"
                      placeholder="Enter slot Duration" [(ngModel)]="addCourtsDuratoinData.slotDuration" #slotDuration="ngModel"
                      [ngClass]="{ 'is-invalid': addDurationForm.submitted && slotDuration.invalid}" >
                    <div *ngIf="addDurationForm.submitted && slotDuration.invalid" class="invalid-feedback">
                      <div *ngIf="slotDuration.errors?.required">Slot Duration is required</div>
                    </div>
                      </div>
                  </div>
              </div>
                <div class="container">
                <button *ngIf="!isUpdated" type="submit" class="btn btn-primary float-right mr-2">Add CourtDuration</button>
                <button *ngIf="courtsDurationId && courtsDurationId > 0" type="submit" class="btn btn-primary float-right mr-2">Update CourtDuration</button>
                </div>
            <!-- <div class="card-footer"> <a (click)="addSports()" class="btn btn-primary float-right mr-2">Add CourtBooking</a>
               -->
           </div>
           </div>
          </form>
        </div>
      </div>
    </div>
  </div>
