<div class="container mt-4 mb-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <form name="form" (ngSubmit)="addUsersForm.form.valid && addUser()" #addUsersForm="ngForm">
            <div class="card-body">
              <h5 class="card-title mb-4">Adding New Profile</h5>
              <!-- <form> -->
              <div class="container">
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">First Name</label>
                      <input type="text" class="form-control" name="FirstName"
                      placeholder="Enter your First name" [(ngModel)]="addUsersData.firstName" #FirstName="ngModel"
                      [ngClass]="{ 'is-invalid': addUsersForm.submitted && FirstName.invalid}" minlength="2" required>
                    <div *ngIf="addUsersForm.submitted && FirstName.invalid" class="invalid-feedback">
                      <div *ngIf="FirstName.errors?.required">First Name is required</div>
                      <div *ngIf="FirstName.errors?.minlength">First Name must be at least 2 characters</div>
                    </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Last Name</label>
                      <input type="text" class="form-control" name="LastName"
                      placeholder="Enter your Last name" [(ngModel)]="addUsersData.lastName" #LastName="ngModel"
                      [ngClass]="{ 'is-invalid': addUsersForm.submitted && LastName.invalid}" minlength="2" required>
                    <div *ngIf="addUsersForm.submitted && LastName.invalid" class="invalid-feedback">
                      <div *ngIf="LastName.errors?.required">Last Name is required</div>
                      <div *ngIf="LastName.errors?.minlength">Last Name must be at least 2 characters</div>
                    </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Email</label>
                      <input type="text" class="form-control" name="Email"
                      placeholder="Enter your Email" [(ngModel)]="addUsersData.email" #Email="ngModel"
                      [ngClass]="{ 'is-invalid': addUsersForm.submitted && Email.invalid}" minlength="2" required>
                    <div *ngIf="addUsersForm.submitted && Email.invalid" class="invalid-feedback">
                      <div *ngIf="Email.errors?.required">Email is required</div>
                      <div *ngIf="Email.errors?.minlength">Email must be at least 2 characters</div>
                    </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Password</label>
                      <input type="text" class="form-control" name="Password"
                      placeholder="Enter your Password" [(ngModel)]="addUsersData.password" #Password="ngModel"
                      [ngClass]="{ 'is-invalid': addUsersForm.submitted && Password.invalid}" minlength="2" required>
                    <div *ngIf="addUsersForm.submitted && Password.invalid" class="invalid-feedback">
                      <div *ngIf="Password.errors?.required">Password is required</div>
                      <div *ngIf="Password.errors?.minlength">Password must be at least 2 characters</div>
                    </div>
                      </div>
                  </div>
                  <div *ngIf="!isUpdated" class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">ConfirmPassword</label>
                      <input type="text" class="form-control" name="ConfirmPassword" pattern="{{ Password.value }}"
                      placeholder="Enter your Email" [(ngModel)]="addUsersData.confirmPassword" #ConfirmPassword="ngModel"
                      [ngClass]="{ 'is-invalid': addUsersForm.submitted && ConfirmPassword.invalid}" minlength="2" required>
                    <div *ngIf="addUsersForm.submitted && ConfirmPassword.invalid" class="invalid-feedback">
                      <div *ngIf="ConfirmPassword.errors?.required">Please confirm your Password </div>
                       <div *ngIf="ConfirmPassword.errors.pattern"> Password & Confirm Password does not match.</div>
                    </div>
                      </div>
                  </div>
                  <div class="col-lg-4" *ngIf="!isUpdated">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Contact Name</label>
                      <input type="text" class="form-control" name="ContactName"
                      placeholder="Enter your Contact Name" [(ngModel)]="addUsersData.contactName" #ContactName="ngModel"
                      [ngClass]="{ 'is-invalid': addUsersForm.submitted && ContactName.invalid}" minlength="2" required>
                    <div *ngIf="addUsersForm.submitted && ContactName.invalid" class="invalid-feedback">
                      <div *ngIf="ContactName.errors?.required">Contact Name is required</div>
                      <div *ngIf="ContactName.errors?.minlength">Contact Name must be at least 2 characters</div>
                    </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Contact Number</label>
                      <input type="text" class="form-control" name="ContactNumber"
                      placeholder="Enter your Contact Number" [(ngModel)]="addUsersData.phone" #ContactNumber="ngModel"
                      [ngClass]="{ 'is-invalid': addUsersForm.submitted && ContactNumber.invalid}" minlength="2" required>
                    <div *ngIf="addUsersForm.submitted && ContactNumber.invalid" class="invalid-feedback">
                      <div *ngIf="ContactNumber.errors?.required">Contact Number is required</div>
                      <div *ngIf="ContactNumber.errors?.minlength">Contact Number must be at least 2 characters</div>
                    </div>
                      </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Company Name</label>
                      <input type="text" class="form-control" name="CompanyName"
                      placeholder="Enter your Company Name" [(ngModel)]="addUsersData.companyName" #CompanyName="ngModel"
                      [ngClass]="{ 'is-invalid': addUsersForm.submitted && CompanyName.invalid}" minlength="2" required>
                    <div *ngIf="addUsersForm.submitted && CompanyName.invalid" class="invalid-feedback">
                      <div *ngIf="CompanyName.errors?.required">Company Name is required</div>
                      <div *ngIf="CompanyName.errors?.minlength">Company Name must be at least 2 characters</div>
                    </div>
                      </div>
                  </div>
                  <div class="col-lg-4" *ngIf="!isUpdated">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Company Url</label>
                      <input type="text" class="form-control" name="CompanyPrivateUrl"
                      placeholder="Enter your Company Url" [(ngModel)]="addUsersData.companyPrivateUrl" #CompanyPrivateUrl="ngModel"
                      [ngClass]="{ 'is-invalid': addUsersForm.submitted && CompanyPrivateUrl.invalid}" minlength="2" required>
                    <div *ngIf="addUsersForm.submitted && CompanyPrivateUrl.invalid" class="invalid-feedback">
                      <div *ngIf="CompanyPrivateUrl.errors?.required">Url is required</div>
                      <div *ngIf="CompanyPrivateUrl.errors?.minlength">Url must be at least 2 characters</div>
                    </div>
                      </div>
                  </div>
                  <div class="col-lg-4" *ngIf="!isUpdated">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">Timezone</label>
                      <input type="text" class="form-control" name="Timezone"
                      placeholder="Enter your Timezone" [(ngModel)]="addUsersData.timezone" #Timezone="ngModel"
                      [ngClass]="{ 'is-invalid': addUsersForm.submitted && Timezone.invalid}" minlength="2" required>
                    <div *ngIf="addUsersForm.submitted && Timezone.invalid" class="invalid-feedback">
                      <div *ngIf="Timezone.errors?.required">Timezone is required</div>
                      <div *ngIf="Timezone.errors?.minlength">Timezone must be at least 2 characters</div>
                    </div>
                      </div>
                  </div>
                  <div class="col-lg-4" *ngIf="!isUpdated">
                    <div class="form-group">
                      <label for="NameField" class="font-weight-bolder">PictureUrl</label>
                      <input type="text" class="form-control" name="PictureUrl"
                      placeholder="Enter your Photo" [(ngModel)]="addUsersData.pictureUrl" #PictureUrl="ngModel"
                      [ngClass]="{ 'is-invalid': addUsersForm.submitted && PictureUrl.invalid}" minlength="2" required>
                    <div *ngIf="addUsersForm.submitted && PictureUrl.invalid" class="invalid-feedback">
                      <div *ngIf="PictureUrl.errors?.required">Photo is required</div>
                    </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="container">
                <button *ngIf="!isUpdated" type="submit" class="btn btn-primary float-right mr-2">Add Profile</button>
                <button *ngIf="userId && userId > 0" type="submit" class="btn btn-primary float-right mr-2">Update Profile</button>
                </div>
            <!-- <div class="card-footer"> <a (click)="addSports()" class="btn btn-primary float-right mr-2">Add Profile</a>
               -->
           </div>
          </form>
        </div>
      </div>
    </div>
  </div>
