<section>
  <form name="form" (ngSubmit)="addCourtForm.form.valid && addCourts()" #addCourtForm="ngForm">
    <div class="container mt-4 mb-5">
      <div class="container mt-4 mb-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="card mb-4 name-title-card">
              <div class="card-header">
                <div class="form-check-inline">
                  <h5 *ngIf="!isUpdated" class="card-title mb-0 pt-2">Adding New Facility</h5>
                
                  <h5 class="card-title mb-0 pt-2" *ngIf="courtId && courtId > 0">Update Existing Facility</h5>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="NameField" class="font-weight-bolder">Name</label>
                  <input type="text" class="form-control" name="Name"
                  placeholder="Enter your Facility name" [(ngModel)]="addCourtsData.name" #Name="ngModel"
                  [ngClass]="{ 'is-invalid': addCourtForm.submitted && Name.invalid}" minlength="2" required>
                  <div *ngIf="addCourtForm.submitted && Name.invalid" class="invalid-feedback">
                    <div *ngIf="Name.errors?.required">Facility Name is required</div>
                    <div *ngIf="Name.errors?.minlength">Facility Name must be at least 2 characters</div>
                  </div>
                </div>
                <label for="DescriptionField" class="font-weight-bolder">Facility Description</label>
                <textarea class="form-control"  name="Description"
                [(ngModel)]="addCourtsData.description" #Description="ngModel" rows="3">
                </textarea>
                <br>
                <label for="SportField" class="font-weight-bolder">Select Category</label>
                <select  [(ngModel)]="addCourtsData.SportsId"
                name="SportsId" class="form-control" #SportsId="ngModel" required>
                 <option  [ngValue]="''" disabled>Select Category...</option>
                  <option [ngValue]="sport.id" *ngFor="let sport of sportsList">{{sport.name}}</option>
               </select>
                <div *ngIf="addCourtForm.submitted && SportsId.invalid" class="invalid-feedback">
                  <div *ngIf="SportsId.errors?.required">Category name is required</div>
                </div>
              </div>
            </div>
    
    
          </div>
    
        </div>
      </div>
      <nav class="navbar fixed-bottom navbar-light bg-dark ml-5"> <a href="/admin/facilities/facilities-list"
        class="btn btn-danger">Cancel</a>
      <div class="form-inline my-2 my-lg-0">
        <button *ngIf="!isUpdated" type="submit" class="btn btn-primary">Add Facility</button>
  
        <button *ngIf="courtId && courtId > 0" type="submit" class="btn btn-primary">Update Facility</button>

      </div>
      </nav>
    </div>
  </form>
</section>

